body{
    background-color: rgb(250, 245, 239);
}

h1{
    color: rgb(226, 212, 194);
    font-size: 5em;
    font-family: sans-serif;
    font-weight: lighter;
}

ul > li > span {
    color: rgb(226, 212, 194);
    opacity: 0;
    transition: opacity 0.2s ease;
}

ul > li:hover > span {
    opacity: 1;
}
